- title_bar "Categories", nil
%div#active_admin_content.without_sidebar
  - main_content "Category List" do
    - index_table ["Name"] do
      - @categories.each_with_index do |category, i|
        %tr{:class=>cycle( "odd", "even") }
          %td= category.name