<div>
    <div class="clearfix " data-addclass-error="tag.errors['name'].length">
        <label for="tag_name">Name:</label>

        <div class="input">
            <input data-bind="tag.name" id="tag_name" name="tag[name]"/>
        </div>
    </div>
    <div class="clearfix " data-addclass-error="tag.errors['description'].length">
        <label for="tag_description">Description:</label>

        <div class="input">
            <textarea data-bind="tag.description" id="tag_description" name="tag[description]"></textarea>
        </div>
    </div>
</div>