#edit-tag.row
  #content.span16
    %form#edit_tag.new_tag{"accept-charset" => "UTF-8", :data => {"event-submit" => "update", "formfor-tag" => "tag"}}
      %div{:data => {"partial" => "tags/_form"}}
      %input{:type => "submit"}/