#new-tag.row
  #content.span16
    %form#new_tag.new_tag{"accept-charset" => "UTF-8", :data => {"event-submit" => "create", "formfor-tag" => "tag"}}
      %div{:data => {"partial" => "tags/_form"}}
      %input{:type => "submit"}/