/*********************************************************************************
 *
 * DEFAULTS
 *
 *********************************************************************************/
body {
    background-color: #f9f9f9;
    color: #444447;
}

img {
    display: block;
    margin: 0px auto;
    text-align: center;
}

a {color:#222B35;}
a:hover, a:focus {color:#1C63B0;}
a:visited, a:active {color:#BB007F;}

/*********************************************************************************
 *
 * HEADINGS
 *
 *********************************************************************************/

/* size and type */
h1  {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -1px;
}

h2 {
    font-size: 22px;
    width: 100%;
    margin: 20px 0 10px 0;
    color: #7DC049;
}
h3 {
    color: #fff;
    text-shadow: -1px 1px 0px rgba(0,0,0,0.5);
    background-color: rgba(67,84,104,1);
}

h3.big {
    font-size: 14px;
    text-transform: uppercase;
}



h2.clickable {
    cursor: pointer;
}

h2.clickable.visible {
    background-repeat: no-repeat;
    background-position: 100% -760px;

}

h2.clickable.hidden {
    background-repeat: no-repeat;
    background-position: 100% -725px;
}

h3.faded {
    background-color: rgba(67,84,104,0.4);
}


/*********************************************************************************
 *
 * GLOBAL ELEMENTS
 *
 *********************************************************************************/
 /* 
    Structure 
 */
 #header, #contents {
     width: 100%;
     float: left;
     clear: both;
 }
 .wrap {
     margin: 0px auto;
     width: 1080px;
 }
 

   /* ======  Styles ====== */

#header {
    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(150,150,150,0.1);
}

#header h1 {
    float: left;
    padding: 30px 0px;
    color: rgba(63, 63, 56, 0.2);
    text-shadow: -1px -1px 0px rgba(255,255,255,1);
}
#header a {
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0,111,62,0.2);
/*    text-shadow : none;*/
    font-weight: bold;
    font-size: 13px;
}
#nav .sub {
    background-color:#323F4F;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
}

#contents {
    border-top: 1px solid rgba(255,255,255,1);
    background-position: top left;
    background-repeat: repeat-x;
    padding-top: 40px;
}

/*********************************************************************************
 *
 * NAVIGATION
 *
 *********************************************************************************/
  /* ====== Structure ====== */
  .sf-menu, .sf-menu * {
    margin:			0;
    padding:		0;
    list-style:		none;
  }
  .sf-menu {
    line-height:	1.0;
  }
  .sf-menu ul {
    position:		absolute;
    top:			-999em;
    width:			16em; /* left offset of submenus need to match (see below) */
    
    box-shadow          : 1px 1px 0px rgba(0,0,0,0.2);
    -moz-box-shadow     : 1px 1px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow  : 1px 1px 0px rgba(0,0,0,0.2);
  }
  .sf-menu ul li {
    width:			100%;
  }
  .sf-menu li:hover {
    visibility:		inherit; /* fixes IE7 'sticky bug' */
  }
  .sf-menu li {
    float:			left;
    position:		relative;
  }
  .sf-menu a {
    display:		block;
    position:		relative;
  }
  .sf-menu li:hover ul,
  .sf-menu li.sfHover ul {
    left:			0;
    top:			30px; /* match top ul list item height */
    z-index:		99;
  }
  ul.sf-menu li:hover li ul,
  ul.sf-menu li.sfHover li ul {
    top:			-999em;
  }
  ul.sf-menu li li:hover ul,
  ul.sf-menu li li.sfHover ul {
    left:			16.1em; /* match ul width */
    top:			0;
  }
  ul.sf-menu li li:hover li ul,
  ul.sf-menu li li.sfHover li ul {
    top:			-999em;
  }
  ul.sf-menu li li li:hover ul,
  ul.sf-menu li li li.sfHover ul {
    left:			16.1em; /* match ul width */
    top:			0;
  }
  
  /* ====== Skin ====== */
  
  .sf-menu {
    background-color:  rgba(125,192,73,1);
    border: 1px solid  rgba(255,255,255,0.3);
    border-top-color:  rgba(0,111,62,0.2);
    border-left-color: rgba(0,111,62,0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display:inline;
    float:right;
    margin-left:0;
    margin-top:30px;
    position:relative;
    text-transform: uppercase;
  }

  .sf-menu a {
    padding: 		.75em 1em;
    text-decoration:none;
  }
  .sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
                                    color: #13a;
  }
  .sf-menu li {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }

  .sf-menu li ul {
    background-color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin-top: 1px;
    border-top: 1px solid  #F9F9F9;
    padding: 0;
  }

  .sf-menu li li {
    margin-top: 1px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: rgba(125,192,73,1);
    text-transform: none;

  }

  .sf-menu li li:first-child {
    margin-top: 0px;
  }

  .sf-menu li li ul {
    background-color: #fff;
    padding-top: 0;
    margin-top: -2px;
  }

  .sf-menu li li li {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: rgba(125,192,73,1);
  }

  #header .sf-menu li li a {
    font-size: 14px;
  }

  #header .sf-menu li li li a {
    color: #232B36;
    text-shadow: none;
    font-size: 13px;
  }

  .sf-menu li.selected,
  .sf-menu li:hover
  {
   background-color: rgba(0,111,62,1);
  }

  .sf-menu li li.selected,
  .sf-menu li li:hover
  {
    background-color: rgba(0,111,62,1);
  }

  .sf-menu li li li.selected,
  .sf-menu li li li:hover
  {
    background-color: rgba(0,111,62,1);
    border-color: #000000;
  }

  /*** arrows **/
  .sf-menu a.sf-with-ul {
    padding-right: 	2.25em;
    min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
  }
  .sf-sub-indicator {
    position:		absolute;
    display:		block;
    right:			.75em;
    top:			1.05em; /* IE6 only */
    width:			10px;
    height:			10px;
    text-indent: 	-999em;
    overflow:		hidden;
  }
  a > .sf-sub-indicator {  /* give all except IE6 the correct values */
                           top:			.8em;
                           background-position: 0 -100px; /* use translucent arrow for modern browsers*/
  }
  /* apply hovers to modern browsers */
  a:focus > .sf-sub-indicator,
  a:hover > .sf-sub-indicator,
  a:active > .sf-sub-indicator,
  li:hover > a > .sf-sub-indicator,
  li.sfHover > a > .sf-sub-indicator {
    background-position: -10px -100px; /* arrow hovers for modern browsers*/
  }

  /* point right for anchors in subs */
  .sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
  .sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
  /* apply hovers to modern browsers */
  .sf-menu ul a:focus > .sf-sub-indicator,
  .sf-menu ul a:hover > .sf-sub-indicator,
  .sf-menu ul a:active > .sf-sub-indicator,
  .sf-menu ul li:hover > a > .sf-sub-indicator,
  .sf-menu ul li.sfHover > a > .sf-sub-indicator {
    background-position: -10px 0; /* arrow hovers for modern browsers*/
  }

  /*** shadows for all but IE6 ***/
  .sf-shadow ul {
    /*  background:	url('../images/shadow.png') no-repeat bottom right;*/
    padding: 0 8px 9px 0;
    -moz-border-radius-bottomleft: 17px;
    -moz-border-radius-topright: 17px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-left-radius: 17px;
  }
  .sf-shadow ul.sf-shadow-off {
    background: transparent;
  }



/* content rules */
.sf_admin_part.hidden, .hiddenForNow {
    display: none;
}

.sf_admin_part.visible {
    display: block;
}

.sf_admin_part h3 {
    padding: 10px;
}

.sf_admin_part .halfColumn {
    width: 49%;
}

.sf_admin_part .halfColumn.right {
    float: right;
}

.sf_admin_part .halfColumn.left {
    float: left;
}

.clear {
    clear: both;
    display: block;
}

#sf_admin_container ul.sf_admin_actions,
.sf_admin_part h3,
.sf_admin_form_row,
.progress ol li,
.sf_admin_form_row table table,
.round {
    -moz-border-radius: 3px; /* FF1+ */
    -webkit-border-radius: 3px; /* Saf3+, Chrome */
    border-radius: 3px; /* Opera 10.5, IE 9 */
}

.sf_admin_part h3,
.sf_admin_table th {
    text-transform:uppercase;
    letter-spacing:1px;
}

.sf_admin_part,
.shaddow {
  border: 1px solid #DDD;
  border-radius: 8px;
    -moz-box-shadow: 0px 0px 3px #FFFFFF; /* FF3.5+ */
    -webkit-box-shadow:  0px 0px 3px #FFFFFF; /* Saf3.0+, Chrome */
    box-shadow:  0px 0px 3px #FFFFFF; /* Opera 10.5, IE 9.0 */
}

.sf_admin_part {
    padding: 15px;
    background-color: #fff;
}
.sf_admin_part ul { margin-top: 0;}
.small {
    width: 300px;
}

/*this is to wrap the .small class*/
.small_wrapper {
    width: 330px;
}

.small_wrapper.center {
    margin: 0px auto;

}

.inline {
    /*display: inline;*/
}

.sf_admin_actions,
.sf_admin_row,
.sf_admin_form_row {
    width: inherit;
    background-color: #EAEBEC;
    border: #A0A0A0 1px solid;
}

.sf_admin_actions.blank,
.sf_admin_row.blank,
.sf_admin_form_row.blank {
    width: inherit;
    margin: 0;
    background-color: #fff;
    border: none;
}

.sf_admin_form_row img.row_image {
    width: auto;
    display: block;
    float: left;
}

ul.sf_admin_actions {
    padding-left: 260px;
}

ul.sf_admin_actions li {
    display: inline;
}

.sf_admin_form_row table table {
    margin: 10px;
    padding: 10px;
    border-collapse:separate;
    border-spacing: 0 1px;
    border: #A0A0A0 1px solid;
}

.sf_admin_table {
    background-color: #fff;
    border-collapse:separate;
    border-spacing: 0 1px;
    width: 100%;
}

.sf_admin_table tr,
.sf_admin_table tr a {
    color: #444448;
    font-weight: bold;
}

.sf_admin_table tr a:hover {
    text-decoration: underline;
}

tr.sf_admin_row td {
    border-right: #A0A0A0 1px solid;
    border-top-color: #A0A0A0;
    border-bottom-color: #A0A0A0;
}

.sf_admin_table th {
    color: #fff;
    text-shadow: -1px 1px 0px rgba(0,0,0,0.5);
    padding: 10px;
    background-color: #435468;
    border-top-color: #313E4C;
    border-bottom-color: #212A34;
    text-align: left;
}

.sf_admin_table th a {
    color: #fff;
}

.sf_admin_table th a:hover {
    text-decoration: underline;
}

.sf_admin_table th:first-child {
    border-left-color: #28333F;
}

.sf_admin_table th:last-child {
    border-right-color: #28333F;
}

tr.sf_admin_row td:first-child {
    border-left-color: #A0A0A0;
}

tr.sf_admin_row td:last-child {
    border-right-color: #A0A0A0;
}

.sf_admin_table th,
tr.sf_admin_row td {
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 5px;
}

#list .sf_admin_table th:first-child,
#list tr.sf_admin_row td:first-child {
    width: 21px;
}

#list .sf_admin_table th:last-child,
#list tr.sf_admin_row td:last-child {
    width: 63px;
}

#list .sf_admin_table td:last-child ul {
    width: 63px;
    margin: 0px auto;
}

.sf_admin_table th:first-child,
tr.sf_admin_row td:first-child {
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left-style: solid;
    border-left-width: 1px;
}

.sf_admin_table th:last-child,
tr.sf_admin_row td:last-child {
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right-style: solid;
    border-right-width: 1px;
}

.sf_admin_actions,
.sf_admin_form_row {
    margin: 5px 0;
    padding: 5px;
}

.sf_admin_form_row label {
    display: inline-block;
    width: 250px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    color: #71717A
}

.sf_admin_form_row label.small {
    width: 85px;
}

.sf_admin_form_row label.medium {
    width: 120px;
}

.notice {
    border: #444447 1px solid;
    padding: 10px;
    margin: 10px 0;
}

.progress {
    background-color: #fff;
    padding: 5px;
}

.progress ol li {
    width: inherit;
    background-color: #EAEBEC;
    margin: 3px 0;
    font-weight: bold;
    padding: 5px;
    border: #A0A0A0 1px solid;
    list-style-position: inside;
}

.progress ol li.current {
    background-color: #D9F2FF;
}

#sf_admin_container ul li.sf_admin_action_list a {
}

.wrap .columnOne {
    float: left;
    width: 700px;
}

.wrap .columnTwo {
    float: right;
    width: 300px;
}

tr.sf_admin_row td {
    height: 100%;
}

.sf_admin_row td label {
    height: inherit;
}

#sf_admin_container ul.error_list
{
    margin: 0;
    margin-bottom: 7px;
    color: #d33;
    border: none;
    background-color: #f33;
}

#sf_admin_container ul.error_list li
{
    padding: 4px;
    padding-left: 25px;
    list-style: none;
    color: #fff;
}

.sf_admin_pagination
{
    float: right;
}

tr.sf_admin_row label{
    float: left;
}

tr.sf_admin_row .field {
    padding-left: 260px;
}

tr.sf_admin_row .field select {
}

#sf_admin_container ul.sf_admin_td_actions
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#sf_admin_container ul.sf_admin_td_actions li
{
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    font-size: 90%;
}

#sf_admin_container ul.sf_admin_list_actions
{
    margin: 10px;
    list-style-type: none;
}

#sf_admin_container ul.sf_admin_list_actions li a {
    color: #444448;
}

.sf_admin_container ul.sf_admin_list_actions li,
#sf_admin_container ul.sf_admin_list_actions li
{
    list-style-type: none;
    display: inline;
    font-weight: bold;
    color: #444448;
    margin-right: 10px;
}

.sf_admin_container ul.sf_admin_list_actions li a,
#sf_admin_container ul li a
{
    display: inline-block;
    height: 20px;
    padding-left: 20px;
}

.sf_admin_container ul li.sf_admin_action_new a,
#sf_admin_container ul li.sf_admin_action_new a
{
    padding-top: 2px;
    background-position: 0 -275px;
    background-repeat: no-repeat;
}

#sf_admin_container ul li.sf_admin_action_delete a
{
    text-indent: -99999px;
    background-position: 0 -158px;
    background-repeat: no-repeat;
}

#sf_admin_container ul li.sf_admin_action_list a
{
    text-indent: -99999px;
    background-position: 0 -158px;
    background-repeat: no-repeat;
}

#sf_admin_container ul li.sf_admin_action_edit a
{
    text-indent: -99999px;
    background-position: 0 -75px;
    background-repeat: no-repeat;
}

#sf_admin_container ul li.sf_admin_action_stats a
{
    text-indent: -99999px;
    background-position: 0 -120px;
    background-repeat: no-repeat;
}

#sf_admin_container ul li.sf_admin_action_view a
{
    text-indent: -99999px;
    background-position: 0 -199px;
    background-repeat: no-repeat;
}

#sf_admin_container ul li.sf_admin_action_edittags a
{
    background-position: 0 -30px;
    background-repeat: no-repeat;
}

#sf_admin_container .notice
{
    margin: 4px 0;
    padding: 4px 4px 4px 30px;
    border: 1px solid #ddd;
    background-color: #ffc;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
}

#sf_admin_container .error
{
    margin: 4px 0;
    padding: 4px 4px 4px 30px;
    border-top: 1px solid #ddd;
    background-color: #f33;
    color: #fff;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
}

#sf_admin_container .radio_list,
#sf_admin_container .checkbox_list
{
    margin: 0;
}

#sf_admin_container .radio_list li,
#sf_admin_container .checkbox_list li
{
    list-style: none;
    display: inline;
}

#sf_admin_container .double_list_select,
#sf_admin_container .double_list_select-selected
{
    width: 12em;
}

#sf_admin_container .radio_list li label,
#sf_admin_container .checkbox_list li label
{
    width: auto;
    font-weight: normal;
    color: #444447;
}

.wym_skin_symfony {
    margin: 10px;
}

.error,
.error_list {
    text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
}


.right {
    float: right;
}

.sf_login_form {
    padding-top: 150px;
}

#password_reset {
    display: none;
    margin-top: 30px;
}


#sf_admin_container .mainGalleryImg li
{
	display: inline-block;
	height: 95px;
}

#sf_admin_container .mainGalleryImg .radio_list
{
	margin-left: 15px;
}

#sf_admin_container .mainGalleryImg div label
{
  text-align:left;
}

#sf_admin_container .mainGalleryImg li label
{
	border:1px solid black;
	clear:left;
	display:block;
	width: 70px;
	height: 60px;
}

#sf_admin_container .mainGalleryImg div input,
#sf_admin_container .mainGalleryImg li input
{
	clear: left;
	margin-left: 30px;
}

/*************************************  carousel ***************************************************/
.cropZone .cropForm label
{
  display: none;
  margin-top: 10px;
}

.cropZone .cropForm .text
{
  display: none;
}

.cropZone .imageHolder
{
	float: left;
	width: 500px;
}

.cropZone #editThumbnail
{
	height: 320px;
}

.cropZone #cropPreview
{
	height: 100px; 
	overflow: hidden; 
	margin-left: 5px;
	padding-top: 80px;
}

.cropZone #cropPreview img
{
	margin-left: 20px;
}

.cropZone form
{
	margin-top: 20px;
}

.cropZone .formHolder
{
  margin: 10px 0 10px 0;
  float:left
}

.cropZone .formHolder a
{ 
  margin-right: 10px;
}

#sb_carousel_title,
#sb_carousel_sub_title,
#sb_carousel_url_title,
#sb_carousel_url
{
	width: 500px;
}

.green
{
  color: green;
}

.red
{
  color: red;
}

/**************************************** local adverts ********************************************/
#sf_admin_container .sf_admin_form_field_sb_local_advert_region_list .checkbox_list
{
	padding-left: 18px
}

#sf_admin_container .sf_admin_form_field_sb_local_advert_region_list .checkbox_list li 
{
	display:inline-block;
	list-style:none outside none;
	width:124px;
}

/**************************************** dashboard ********************************************/
#dashboard.sf_admin_part h2, #dashboard.sf_admin_part h3,
#dashboard.sf_admin_part li.sf_admin_form_row,
#dashboard.sf_admin_part .sf_admin_table td { font-size: 14px; }


.checkbox_list
{
  overflow: hidden;
}

.checkbox_list li
{
  float: left;
  width:150px;
}

.checkbox_list li label
{
  height:auto;
}

#sf_admin_container label[for=sb_job_region_list_sb_job_region_list_select_all],
#sf_admin_container label[for=sb_job_region_list_sb_job_region_list_select_none],
#sf_admin_container label[for=sb_job_region_list_sb_job_region_list]
{
  display: none;
  width: 0px;
  height: 0px;
}

#sb_job_region_list_sb_job_region_list_select_none
{
  margin-bottom: 4px;
}

/*Pagedown styles*/

.wmd-panel
{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	min-width: 500px;
}

.wmd-button-bar 
{
	width: 100%;
	background-color: Silver; 
}

.wmd-input 
{ 
	height: 300px;
	width: 100%;
	background-color: Gainsboro;
	border: 1px solid DarkGray;
}

.wmd-preview 
{ 
	background-color: #c0e0ff; 
}

.wmd-button-row 
{
	position: relative; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}

.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../../wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}




.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}