!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %title EMS
      %meta{:content => "EMS", :name => "description"}
        %meta{:content => "Vincent Siebert", :name => "author"}
          = stylesheet_link_tag "ems/application", :media => "all"
          = javascript_include_tag "ems/application"
          = csrf_meta_tags
  %body
    =yield
    %footer
      %p
        \© The Beans Group #{Time.now.year}