.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
ems*.gem
.DS_Store
public/javascripts
test/dummy/public/system/ems/articles/images*
test/dummy/solr/*
test/dummy/log/sunspot-solr-development.log.lck

test/dummy/public/system/ems/*
