.span8
  %p.date{:data => {"bind" => "article.created_at"}}
  %h2
    %a{:data => {"bind" => "article.title", "route" => "article | routeToAction 'edit'"}}
  %p.details-link
    %a.btn{:data => {"route" => "article | routeToAction 'edit'"}} Edit
  %p.details-link
    %a{:data => {"event-click" => "article.destroy"}} Delete