.columnOne
  #mainContent
    #article.contentBox
      .inputBlock
        %label{:for => "article_title"} Article Title
        %input#article_title{ :name => "article[title]", :type => "text", :data => {"bind" => "article.title"}}
          .inputBlock
            %label{:for => "article_standfirst"} Standfirst
            %textarea#article_standfirst{:name => "artile[standfirst]", :rows => "4", :cols => "30", :data => {"bind" => "article.standfirst"}}
          .inputBlock
            %label{:for => "article_content"} Content
            %textarea.wmd-input#wmd-input{:name => "article[content]", :data => {"bind" => "article.content"}}
          .inputBlock
            %label{:for => "article_featured_image"} Featured Image
            %input{:id => "article_featured_image", :type => "file",:data=>{"bind"=>"article.image"}}
          .inputBlock
            %table#images{:border => "1"}
              %tr
                %th Title
                %th Alt Text
                %th Actions
              %tr{:data => {"foreach-image" => "article.images"}}
                %td{:data => {"bind" => "image.title | default 'no title'"}}
                %td{:data => {"bind" => "image.alt | default 'no alt text'"}}
                %td
                  %a{:data => {"event-click" => "image.destroy"}} Delete
            %label{:for => "article_images"} Image
            %input{:id => "article_images", :type => "file",:data=>{"bind"=>"images"}}
            
.columnTwo.sidebar
  %div{:data => {"partial" => "articles/_sidebar"}}