.details
  %h2.label related
  %input{:autocomplete => "off", :type => "text", :data => {"event-change" => "suggestRelated"}}
    %div
      %ul
        %li{:data => {"bind" => "related.title", "bind-id" => "related.id", "event-click" => "addRelated", "foreach-related" => "suggestRelations"}}
    %h3.label Articles:
    %ul
      %li{:data => {"bind" => "related.title", "bind-id" => "related.id", "event-click" => "removeRelated", "foreach-related" => "relatedArticles"}}
    %h3.label News:
    %ul
      %li{:data => {"bind" => "related.title", "bind-id" => "related.id", "event-click" => "removeRelated", "foreach-related" => "relatedArticles"}}
    %h3.label Reports:
    %ul
      %li{:data => {"bind" => "related.title", "bind-id" => "related.id", "event-click" => "removeRelated", "foreach-related" => "relatedArticles"}}
      