#publish.first
  .details
    %h2.label Status
    %select{:name => "status", :data => {"bind" => "article.status"}}
      %option{:data => {"bind" => "status", "bind-value" => "status", "foreach-status" => "article.status | getAvailableStatus"}}
  .details
    %h2.label Publish from
    %input{:placeholder => "Format: dd/mm/yyyy hh:mm", :data => {"bind" => "article.publish_from"}}
#channel
  %div{:data => {"partial" => "articles/_channels"}}
%div
  %div
    %h2 Meta stuff
    %label{:for => "metaTitle"} Title
    %input#metaTitle{:style => "display:none", :type => "text", :data => {"bind" => "article.meta_title"}}
      #metaTitleEditable{:data => {"bind" => "article.meta_title"}}
      %label{:for => "slug"} URL
      %input#slug{:style => "display:none", :type => "text", :data =>{"bind" => "article.slug"}}
        #slugEditable{:data => {"bind" => "article.slug"}}
        %label{:for => "metaDescription"} Description
        %textarea#metaDescription{:cols => "30", :rows => "4", :style => "display:none", :data => {"bind" => "article.meta_description"}}
        #metaDescriptionEditable{:data => {"bind" => "article.meta_description"}}
#switches
  .details
    %label{:for => "comment"} Comments
    %input#comment{:name => "comment", :type => "checkbox", :data => {"bind" => "article.comment"}}/
    %br/
    %label{:for => "hot"} Hot Article
    %input#hot{:name => "hot", :type => "checkbox", :data => {"bind" => "article.hot"}}/
    %br/
    %label{:for => "featured"} Featured Article
    %input#featured{:name => "featured", :type => "checkbox", :data => {"bind" => "article.featured"}}/
    %br/
    %label{:for => "toc"} Table of contents
    %input#toc{:name => "toc", :type => "checkbox", :data => {"bind" => "article.toc"}}/
#tag
  %div{:data => {"partial" => "tags/_selector"}}