#contents
  .wrap.clearfix
    %form#edit_article.edit_article{"accept-charset" => "UTF-8", :data => {"event-submit" => "create", "formfor-article" => "article"}}
      %div{:data => {"partial" => "articles/_form"}}
      %input{:type => "submit"}