<div id="contents">
    <div class="wrap clearfix">
        <form accept-charset="UTF-8" class="new_channel" id="new_channel" data-formfor-channel="channel"
              data-event-submit="create">
            <div class="columnOne">
                <div data-partial="articles/_form"></div>
            </div>
            <div class="columnTwo sidebar">
                <div data-partial="articles/_sidebar"></div>
            </div>
            <input type="submit"/>
        </form>
    </div>
</div>