<div id="contents">
    <div class="wrap clearfix">
        <div id="fullColumn"></div>
        <div class="columnOne">
            <div id="mainContent">
                <div class="contentBox" id="article">
                    <div class="inputBlock"><label for="title">Article Title</label>

                        <div class="charCountWrap"><input type="text" name="title" id="title" data-limit="50"
                                                          value="Dead gran climbs out of coffin after six days"
                                                          class="title"> <span class="count">         <span
                                id="titleCount">5</span>          <span class="visuallyHidden">characters left</span>       </span>
                        </div>
                    </div>
                    <div class="inputBlock"><label for="standfirst">Standfirst</label>

                        <div class="charCountWrap"><textarea rows="4" cols="30" name="standfirst" id="standfirst"
                                                             class="standfirst" data-limit="155">The zombies are here -
                            and they want something to eat! A Chinese woman has climbed out of her coffin after being
                            ‘dead’ for six days.</textarea> <span class="count">         <span
                                id="standfirstCount">22</span>         <span
                                class="visuallyHidden">characters left</span>       </span></div>
                    </div>
                    <div class="inputBlock"><label for="content">Content</label>

                        <div id="content-button-bar">
                            <ul id="content-button-row" class="wmd-button-row">
                                <li class="wmd-button" style="left: 0px; " id="content-wmd-bold-button"
                                    title="Strong &lt;strong&gt; Ctrl+B"><span
                                        style="background-position: 0px 0px; "></span></li>
                                <li class="wmd-button" style="left: 25px; " id="content-wmd-italic-button"
                                    title="Emphasis &lt;em&gt; Ctrl+I"><span
                                        style="background-position: -20px 0px; "></span></li>
                                <li class="wmd-spacer wmd-spacer1" id="content-spacer1"></li>
                                <li class="wmd-button" style="left: 75px; " id="content-wmd-link-button"
                                    title="Hyperlink &lt;a&gt; Ctrl+L"><span
                                        style="background-position: -40px 0px; "></span></li>
                                <li class="wmd-button" style="left: 100px; " id="content-wmd-quote-button"
                                    title="Blockquote &lt;blockquote&gt; Ctrl+Q"><span
                                        style="background-position: -60px 0px; "></span></li>
                                <li class="wmd-button" style="left: 125px; " id="content-wmd-code-button"
                                    title="Code Sample &lt;pre&gt;&lt;code&gt; Ctrl+K"><span
                                        style="background-position: -80px 0px; "></span></li>
                                <li class="wmd-spacer wmd-spacer2" id="content-spacer2"></li>
                                <li class="wmd-button" style="left: 175px; " id="content-wmd-image-button"
                                    title="Image &lt;img&gt; Ctrl+G"><span
                                        style="background-position: -100px 0px; "></span></li>
                                <li class="wmd-button" style="left: 200px; " id="content-wmd-video-button"
                                    title="Video &lt;video&gt; Ctrl+TODO"><span
                                        style="background-position: -100px 0px; "></span></li>
                                <li class="wmd-spacer wmd-spacer3" id="content-spacer3"></li>
                                <li class="wmd-button" style="left: 250px; " id="content-wmd-olist-button"
                                    title="Numbered List &lt;ol&gt; Ctrl+O"><span
                                        style="background-position: -120px 0px; "></span></li>
                                <li class="wmd-button" style="left: 275px; " id="content-wmd-ulist-button"
                                    title="Bulleted List &lt;ul&gt; Ctrl+U"><span
                                        style="background-position: -140px 0px; "></span></li>
                                <li class="wmd-button" style="left: 300px; " id="content-wmd-heading-button"
                                    title="Heading &lt;h1&gt;/&lt;h2&gt; Ctrl+H"><span
                                        style="background-position: -160px 0px; "></span></li>
                                <li class="wmd-button" style="left: 325px; " id="content-wmd-hr-button"
                                    title="Horizontal Rule &lt;hr&gt; Ctrl+R"><span
                                        style="background-position: -180px 0px; "></span></li>
                                <li class="wmd-spacer wmd-spacer4" id="content-spacer4"></li>
                                <li class="wmd-button" style="left: 375px; " id="content-wmd-undo-button"
                                    title="Undo - Ctrl+Z"><span style="background-position: -200px -20px; "></span></li>
                                <li class="wmd-button" style="left: 400px; " id="content-wmd-redo-button"
                                    title="Redo - Ctrl+Shift+Z"><span
                                        style="background-position: -220px -20px; "></span></li>
                            </ul>
                        </div>
                        <textarea class="wmd-input" id="content">When a neighbour discovered the cold, motionless body
                            of Li Xiufeng at her home in Guangxi Province, China, she called for help - but it was soon
                            clear that the 95-year-old had passed away.

                            Sad, yes, but 95 is a hell of an effort! Arrangements were then made for Li’s body to be
                            kept in a coffin in her house so that friends and relatives could pay their respects.

                            Six days after finding the body, neighbour Chen Qingwang turned up at the house to make sure
                            everything was in order before the funeral the following day.

                            Imagine her surprise/confusion/pant-wetting fear when she discovered an empty coffin, with
                            no corpse in sight.

                            Asking neighbours for help, they soon found Xiufeng in the kitchen cooking herself a meal.

                            She reportedly explained: ‘I slept for a long time. After waking up, I felt so hungry, and
                            wanted to cook something to eat.

                            ‘I pushed the lid for a long time to climb out.’

                            According to a doctor, the strange turn of events can be put down to an artificial death -
                            where a person has no breath but their body remains warm.

                            According to us, she’s a zombie.</textarea></div>
                </div>
            </div>
            <div id="media">
                <div id="status"></div>
                <ul id="statusList" class="metaText"></ul>
                <div class="tabs">
                    <ul class="tabHeads">
                        <li id="featuredMediaTab" class="tabHead selected">Featured Media</li>
                        <li id="localMediaTab" class="tabHead">Local Media</li>
                        <li id="externalMediaTab" class="tabHead">Embedded Videos</li>
                    </ul>
                    <ul class="tabContents">
                        <li id="defaultMedia" class="contentBox tabContent">
                            <div> Please chose one of the tabs above to modify.</div>
                        </li>
                        <li id="featuredMedia" class="contentBox tabContent selected">
                            <table id="featMediaList" class="mediaList metaText">
                                <colgroup>
                                    <col width="35%" align="left">
                                    <col width="30%" align="left">
                                    <col width="30%" align="left">
                                    <col width="5%" align="left">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Name:</th>
                                    <th>Caption:</th>
                                    <th>Alt text:</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="featMediaBody">
                                <tr class="item" data-id="26671">
                                    <td data-field="name" class="itemName">
                                        Dead_gran_climbs_out_of_coffin_after_six_days.jpg
                                    </td>
                                    <td data-field="caption" class="editable">Dead gran climbs out of coffin after six
                                        days
                                    </td>
                                    <td data-field="altText" class="editable">
                                        Dead_gran_climbs_out_of_coffin_after_six_days
                                    </td>
                                    <td><span class="removeMedia" style="cursor:pointer;">delete</span></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="inputBlock"><input name="uploads[]" type="file" multiple=""
                                                           data-type="featuredMedia"></div>
                        </li>
                        <li id="localMedia" class="contentBox tabContent">
                            <table id="localMediaList" class="mediaList metaText">
                                <colgroup>
                                    <col width="26%" align="left">
                                    <col width="23%" align="left">
                                    <col width="23%" align="left">
                                    <col width="23%" align="left">
                                    <col width="5%" align="left">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Name:</th>
                                    <th>Shortcode:</th>
                                    <th>Caption:</th>
                                    <th>Alt text:</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="localMediaBody"></tbody>
                            </table>
                            <div class="inputBlock"><input name="uploads[]" type="file" multiple=""
                                                           data-type="localMedia"></div>
                        </li>
                        <li id="externalMedia" class="contentBox tabContent">
                            <table id="externalMediaList" class="mediaList metaText">
                                <colgroup>
                                    <col width="60%" align="left">
                                    <col width="35%" align="left">
                                    <col width="5%" align="left">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Name:</th>
                                    <th>Shortcode:</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="externalMediaBody"></tbody>
                            </table>
                            <div>
                                <div class="inputBlock"><input name="externalMedia" type="text" id="externalMedia"
                                                               data-type="externalMedia"
                                                               placeholder="Enter youTube URL here and hit enter"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="columnTwo sidebar">
            <div id="publish" class="first">
                <div class="details">
                    <button id="save"><b class="emsIcon save"></b> save</button>
                    <button id="preview"><b class="emsIcon preview"></b> preview</button>
                    <button id="publish" class="right orange"><b class="emsIcon publish"></b> publish</button>
                </div>
                <div class="details"><h2 class="label">Status</h2>   <select name="status" id="status">
                    <option value="draft">draft</option>
                    <option value="pending_review">pending review</option>
                    <option value="live" selected="selected">live</option>
                </select></div>
                <div class="details"><h2 class="label" id="setPublishFrom">Publish from</h2>             <input
                        type="text" name="publishFrom" id="publishFrom" value="29/02/2012 10:16"
                        placeholder="Format: dd/mm/yyyy hh:mm"></div>
            </div>
            <div id="channel">
                <div class="details"><h2 class="label">Channels</h2>   <select name="channelList" multiple="multiple"
                                                                               id="sbEmsArticleChannelList">
                    <option class="channel" id="10" value="10"> fails</option>
                    <option class="channel" id="20" value="20"> shame</option>
                    <option class="channel" id="27" value="27"> nutters</option>
                    <option class="channel" id="28" value="28"> odd facts</option>
                    <option class="channel" id="33" value="33"> Wins</option>
                    <option class="channel" id="65" value="65"> weird</option>
                </select></div>
            </div>
            <div id="meta">
                <div class="details"><h2 class="label">Meta stuff</h2>    <label for="metaTitle" class="label subLabel">Title</label>
                    <input style="display:none" type="text" id="metaTitle" class="meta input"
                           value="Dead gran climbs out of coffin after six days">

                    <div id="metaTitleEditable" class="editable metaTitle metaText metaFamily">Dead gran climbs out of
                        coffin after six days
                    </div>
                    <label for="slug" class="label subLabel">URL</label> <input style="display:none" type="text"
                                                                                id="slug" class="meta input"
                                                                                value="dead-gran-climbs-out-of-coffin-after-six-days2376">

                    <div id="slugEditable" class="editable metaText metaFamily">
                        dead-gran-climbs-out-of-coffin-after-six-days2376
                    </div>
                    <label for="metaDescription" class="label subLabel">Description</label> <textarea
                            style="display:none" rows="4" cols="30" id="metaDescription" class="meta input">The zombies
                        are here - and they want something to eat! A Chinese woman has climbed out of her coffin after
                        being ‘dead’ for six days.</textarea>

                    <div id="metaDescriptionEditable" class="editable metaDescription metaText metaFamily">The zombies
                        are here - and they want something to eat! A Chinese woman has climbed out of her coffin after
                        being ‘dead’ for six days.
                    </div>
                </div>
            </div>
            <div id="switches">
                <div class="details">
                    <div id="comment" class="drag-range on"><span class="label">Comments</span>

                        <div class="handle" style="left: 220px; "><b class="grip"><b></b></b></div>
                    </div>
                    <div id="hot" class="drag-range"><span class="label">Hot article</span>

                        <div class="handle" style="left: 0px; "><b class="grip"><b></b></b></div>
                    </div>
                    <div id="featured" class="drag-range"><span class="label">Featured article</span>

                        <div class="handle" style="left: 0px; "><b class="grip"><b></b></b></div>
                    </div>
                    <div id="toc" class="drag-range"><span class="label">Table of contents</span>

                        <div class="handle" style="left: 0px; "><b class="grip"><b></b></b></div>
                    </div>
                </div>
            </div>
            <div id="tag">
                <div class="details"><h2 class="label">tags</h2>   <input type="text" name="name" id="tags"
                                                                          autocomplete="off">

                    <div id="tagSuggest" class="suggestions">
                        <ul id="tagSuggestList" class="suggestionsList"></ul>
                    </div>
                    <ul id="tagsList" class="selectedItems">
                        <li id="57" class="tag">Weird stories <b class="emsIcon close remove"></b></li>
                    </ul>
                </div>
            </div>
            <div id="related">
                <div class="details"><h2 class="label">related</h2>   <input type="text" id="relatedItem">

                    <div id="relatedSuggest" class="suggestions">
                        <ul id="relatedSuggestList" class="suggestionsList"></ul>
                    </div>
                    <ul id="relatedList" class="selectedItems">
                        <li id="571" class="SbEmsArticle"><span
                                class="constrain">Serbian boy wakes up speaking English</span> <b
                                class="emsIcon close remove"></b></li>
                        <li id="2319" class="SbEmsArticle"><span class="constrain">Flu turns woman French</span> <b
                                class="emsIcon close remove"></b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>