- title_bar "Editing report", [{"title"=>"Show", "url"=>category_report_path(params[:category_id])},{"title"=>"Back", "url"=>category_reports_path(params[:category_id])}]

%div#active_admin_content.with_sidebar
  = render 'form'