#contents
  .wrap.clearfix
    %form#new_news.new_news{"accept-charset" => "UTF-8", :data => {"event-submit" => "create", "formfor-report" => "report"}}
      %div{:data => {"partial" => "reports/_form"}}
      %input{:type => "submit"}