- title_bar "Editing article", [{"title"=>"Show", "url"=>category_article_path(params[:category_id], @article)},{"title"=>"Back", "url"=>category_articles_path(params[:category_id])}]

%div#active_admin_content.with_sidebar
  = render 'form'
