%h1 Listing articles

%table
  %tr
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= link_to 'Show', article
      %td= link_to 'Edit', edit_category_article_path(params[:category_id], article)
      %td= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Article', new_category_article_path
