.span8
  %h2
    %a{:data => {"bind" => "category.name", "route" => "category"}}
  %p.details-link
    %a.btn{:data => {"route" => "category | routeToAction 'edit'"}} Edit
  %p.details-link
    %a{:data => {"event-click" => "category.destroy"}} Delete