.row
  #content.span10
    %ul#listings
      %li{:data => {"foreach-category" => "Category.all"}}
        .category.row{:data => {"partial" => "categories/_category"}}
  
    / %p{:data => {"foreach-category" => "Category.all", "bind" => "category.name"}}