.span8
  %p.date{:data => {"bind" => "channel.created_at | prettyDate"}}
  %h2
    %a{:data => {"bind" => "channel.name", "route" => "channel"}}
  %p.details-link
    %a.btn{:data => {"route" => "channel/edit"}} Edit
  %p.details-link
    %a{:data => {"event-click" => "channel.destroy"}} Delete