%div
  %div{:data => {"addclass-error" => "channel.errors['name'].length"}}
    %label{:for => "channel_title"} Name:
    .input
      %input#channel_title{:name => "channel[name]", :data => {"bind" => "channel.name"}}/
  %div
    %ul
      %li{:data => {"foreach-category" => "categories"}}
        %label.checkbox
          %input{:type => "checkbox", :data => {"bind" => "channel.hasCategory | checkCategory category", "bind-id" => "category.id", "event-change" => "toggleCategory"}}/
          %span{:data => {"bind" => "category.name"}}