<div>
    <div data-addclass-error="channel.errors['name'].length">
        <label for="channel_title">Name:</label>

        <div class="input">
            <input data-bind="channel.name" name="channel[name]" id="channel_title"/>
        </div>
    </div>
    <div>
        <ul>
            <li data-foreach-category="categories">
                <label class="checkbox">
                    <input type="checkbox" data-bind-channel_id="channel.id" data-bind-id="category.id" data-bind="channel | hasCategory category" data-event-change="Channel.toggleCategory"/>
                    <span data-bind="category.name"></span>
                </label>
            </li>
        </ul>
    </div>
</div>