<div>
    <div data-addclass-error="channel.errors['name'].length">
        <label for="channel_title">Name:</label>

        <div class="input">
            <input data-bind="channel.name" name="channel[name]" id="channel_title"/>
        </div>
    </div>
    <div data-context="channel">
        <ul>
            <li data-foreach-category="Category.all">
                <label class="checkbox">
                    <input type="checkbox" data-bind-checked="channel | selected category" data-bind-value="category.id" data-event-change="channel.save"/>
                    <span data-bind="category.name"></span>
                </label>
            </li>
        </ul>
    </div>
</div>