#new-channel.row
  #content.span16
    %form#new_channel.new_channel{"accept-charset" => "UTF-8", :data => {"event-submit" => "create", "formfor-channel" => "channel"}}
      %div{:data => {"partial" => "channels/_form"}}
      %input{:type => "submit"}/