.columnOne
  #mainContent
    #news.contentBox
      .inputBlock
        %label{:for => "news_title"} Article Title
        %input#news_title{ :name => "news[title]", :type => "text", :data => {"bind" => "news.title"}}
          .inputBlock
            %label{:for => "news_standfirst"} Standfirst
            %textarea#news_standfirst{:name => "news[standfirst]", :rows => "4", :cols => "30", :data => {"bind" => "news.standfirst"}}
          .inputBlock
            %label{:for => "news_content"} Content
            %textarea#news_content{:name => "news[content]", :data => {"bind" => "news.content"}}
.columnTwo.sidebar
  %div{:data => {"partial" => "news/_sidebar"}}