#contents
  .wrap.clearfix
    %form#edit_article.edit_article{"accept-charset" => "UTF-8", :data => {"event-submit" => "create", "formfor-news" => "news"}}
      %div{:data => {"partial" => "news/_form"}}
      %input{:type => "submit"}