<div id="container">
  <h1>Alfred</h1>

  <form>
    <input class="new-item" placeholder="add a todo item"/>
  </form>

  <ul id="items">
    <li>
      <input type="checkbox"/>
      <label>title</label>
      <a>delete</a>
    </li>
    <li><span>number</span> <span>of items</span>
  </ul>
</div>